<html>
    <head>
        <title>
            E-Commerce
        </title>
         <link rel="stylesheet" href="/signup/style.css"> 
        <link rel="stylesheet" href="/css/bootstrap.min.css">
        
    </head>
    <body class="gradient-custom-2">
        <div class="container">
            <div class="red"><%=phrase%></div>
            <form action="/signup" method="post" name="myForm" onsubmit="return validateForm()">
                    <p>Hello, Let's create your Account!</p>
                    
                    <input  type="text" id ="name" name="name" placeholder="UserName" required>
                    <br>
                    <br>
                    <input  type="email" id="email" name="email" placeholder="Email" required>
                    <br>
                    <br>
                    <input  type="password" id="password" name="password" placeholder="PassWord" required>
                    <br>
                    <br>
                    <button class="btn btn-info" type="submit" id="login">Sign up</button>
            </form>
            <p class="textt">
             Having an existing account?
            </p>
            <a href="/login" class="b" >Sign_in</a> 
        </div> 
    </body>
    <script src="/signup/script.js"></script>
</html>