/* body{
    padding-top: 0;
    justify-content: center;
} */
  /* //margin-bottom: 10px; */
.pro{
    filter:blur(20px);
    pointer-events: none;
}
.alert{
    color:aliceblue;
    justify-content: center;
    align-items: center;
    padding-left: auto;
    padding-right: auto;
}
.divv{
    justify-content: center;
    margin: 20px;
    display: inline-block;
    background-color:aliceblue;
    box-shadow: 5px 5px 5px 5px rgb(111, 5, 216);
    padding: 30px;
    background-color:rgb(220, 255, 255) ;
    cursor: pointer;
    
}
.productname{
    /* width         : 200px; */
    text-align: center;
    display: flex;
    justify-content: center;

}
.idd,.desc,.quant,.price{
    display: none;
}
.divv:hover{
    outline: black;
    outline-style: solid;
    box-shadow: 5px 5px 5px 5px rebeccapurple;
    cursor: pointer;
}
.e{
    margin: 10px auto;
    align-items: center;
    justify-content: center ;
    width: 200px;
}
.f{
    margin: 10px auto;
    align-items: center;
    justify-content: center ;
    width: 200px;
}
span{
    /* background-color: white; */
    justify-content: center;
}
/* .products{
    position: relative;
} */
.d{
    position: fixed;
    bottom: 10px;
    right: 10px;
    /* float:right; */
display: flex;
  height: 30px;
  align-self: baseline;
  justify-content: center;
  align-items: center;
  
}

.popup{
    position:fixed;
    top:50%;
    
    left:50%;
    transform: translate(-50%,-50%);
    width:500px;
    height:500px;
    padding: 50px;
    box-shadow: 4px 4px 4px 4px rgb(157, 31, 220);
    background-color: rgb(255, 255, 255);
    visibility: visible;
    opacity: 1;
    transition: 0.5s;
    
}
#popupactive{
    visibility:hidden;
    opacity: 0;
    transition: 0.5s;
}

